<html>


<%- include('head.ejs') %>

<body>
  <%- include('navbar.ejs') %>
  <div class="body">
    <div></div>
    <div>
      <h1>About</h1>
      <p>Questa piattaforma di persistenza polyglotta permette di accedere e eseguire <br> query a diversi sistemi di
        persistenza con tecnologie diverse</p>
      <p>Questa applicazione è stata sviluppata per il secondo progetto di big data da:
      <ul>
        <li>Luca Lauro</li>
        <li>Andrea Orfino</li>
      </ul>
      </p>
      <p>Il dataset utilizzato è relativo agli ordini di un e-commerce <br> creato da 'The UCI Machine Learning Repository' disponibile su <a
          href="https://www.kaggle.com/carrie1/ecommerce-data">Kaggle</a> </p>
    </div>
    <div></div>
  </div>
</body>

</html>