<html>

<head>
  <title>Chi siamo</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include('navbar.ejs') %>
  <div class="body">
  <h1>Chi siamo</h1>
 <p>Questa è la pagina chi siamo</p>
</div>
</body>

</html>
