<html>

<head>
  <title>PolyglotApp</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include('navbar.ejs') %>
  <div class="body">
  <h1><%= title %></h1>
  <p>Home page del sito</p>

</div>
</body>

</html>
