<div class="navbar-elementi navbar">



    <div class="navbar-elementi-elemento home"><span class="<% if (title=='Home'){ %> dentro <% } %>"> <a href="/">PolyglotApp </a></span></div>
    <div></div>

    <div class="navbar-elementi-elemento chiSiamo"><span class="<% if (title=='About'){ %>dentro<% } %>"><a href="/about">About</a></span></div>

</div>
<div style="padding-bottom:40px"></div>