body {
  padding: 0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  height: 100%;
}

.body{
  margin: 15px;
}

.body_{
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.navbar{
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #196491;
  

}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar-elementi{
  display: grid;
  height: 48px;
  grid-template-columns: auto 8fr auto auto;
  text-align: left;
  line-height: 13px;
}

.navbar-elementi-elemento{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  color: white;
  font-size: 17px;
}

.home{
  padding-left: 15px;
  font-size: 20px;
}

.dentro{
  text-decoration: underline white;
}

.query_element{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #dcf2ff;

}